@theme inline {
    /* Colors */
    --color-surface-secondary: #eeeeee;
    --color-gray-medium: #3b3b3b;
    --color-stroke-secondary: #8f8f8f;
    --color-stroke-tertiary: #efedf3;
    --color-cta-fill-primary: #585660;
    --color-neutral-700: #404040;
    --color-neutral-500: #737373;
}
